* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  margin: auto auto;
  // background-color: antiquewhite;
  //   padding-block: 20rem;
  // width: 70%;
  //   height: 100%;
  //   background-color: aqua;
}

.wrap {
  margin-inline: auto;
  // padding-inline: 2rem;
  // padding-block: 2rem;
  text-align: center;
  //   background-color: red;
}

.vs {
  margin: auto 0;
  padding-block: 1rem;
  // font-size: 50px;
  //   background-color: aquamarine;
}

.choose {
  // background-color: blue;
  height: 100%;
  //   text-align: center;
  // position: relative;
  display: flex;
  //   float: left;
  padding-inline: 20rem;
  // padding-block: 2rem;
  &_w {
    // width: 50%;
    // height: 50%;
    margin: 0 auto;
  }
}

.choose_w {
  //   position: relative;
  //   height: 500px;
  // background-color: aquamarine;
  padding-block: 27.5rem;
}

.button {
  &_text {
    // width: 200px;
    padding-inline: 2.5rem;
    padding-block: 1rem;
  }
}

#habbit {
  //   display: none;
  //   z-index: 1;
  cursor: pointer;
  //   display: block;
  //   max-width: 50rem;
  //   border: 0.0625rem solid #ccc;
  //   border-radius: 0.5rem;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-0.125rem) scale(1.5);
    transition: all 0.3s ease-in-out;
    margin-inline: 10.5rem;
  }
  //   overflow: hidden;
}

#study {
  //   display: none;
  z-index: 1;
  cursor: pointer;
  //   display: block;
  max-width: 50rem;
  //   border: 0.0625rem solid #ccc;
  //   border-radius: 0.5rem;
  background-color: black;
  color: white;
  transition: all 0.3s ease-in-out;
  &:hover {
    transform: translateY(-0.125rem) scale(1.5);
    transition: all 0.3s ease-in-out;
    margin-inline: 10.5rem;
  }

  //   overflow: hidden;
}

// #habbit {
//   &:hover {
//     transform: translateY(-0.125rem) scale(1.5);
//     transition: all 0.3s ease-in-out;
//     margin-inline: 3.5rem;
//     #study {
//       width: 100px;
//     }
//   }
// }
